<h1>Add an artist:</h1>

<form action="/artists" method="post">
  <label for="name">Name of artist:</label>
  <input type="text" name="name"></input>

  <input type="submit" value="Add artist"></input>
</form>
<br>
<a href="/homepage">Go back.</a>
